{{ puma_logs_dir }}/puma_{{ puma_app_name }}.log
{{ puma_logs_dir }}/puma_{{ puma_app_name }}_errors.log {
    weekly
    missingok
    rotate 14
    compress
    delaycompress
    notifempty
    copytruncate
} 