[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User={{ puma_user }}
Group={{ puma_group }}
WorkingDirectory=/var/www/{{ appname_short }}/current
ExecStart=/usr/local/bin/bundler exec puma -C {{ puma_configs_dir }}/puma.rb
Restart=always

[Install]
WantedBy=multi-user.target